black == 21.6b0
flake8 >= 3.9.2, <3.9.3
hypothesis >=6.14.1, <6.15
isort >= 5.9.1, <5.9.2
numpy >= 1.20.2, <1.20.3
pycodestyle >= 2.7, <2.8
pylint >= 2.9.1, <2.9.2
pytest >= 6.2.4, <6.3
pytest-cov >= 2.12.1, <2.13
pytest-html >= 3.1.1, <3.2
sphinx >= 4.1.1, < 4.2
yamllint >= 1.26.1, <1.27.0 
